---
layout: page
title: Research
---
<p align="justify">In Spring 2014, while I was studying, I have the opportunity of working as a research teacher assistant with professors <a href="https://scholar.google.cl/citations?user=rprb9KwAAAAJ&hl=es&oi=ao" target="_blank"> José María Merigó </a> and <a href="https://scholar.google.cl/citations?user=Ug4b1XQAAAAJ&hl=es&oi=ao">Gustavo Zurita</a> in Bibliometric research area. This was my first approach into investigation, since I learned the steps for creating an investigation and writing a research article. I also learned that working with data and interpreting it was the research direction that I wanted to follow.</p>

<p align="justify">In Autumn 2016, I wanted to go deeper in my research interests, so I went to work to <a href="http://www.ceine.cl/en/">Centre for Business Intelligence </a>(CEINE). There, I work with professor <a href="https://scholar.google.cl/citations?user=rprb9KwAAAAJ&hl=es&oi=ao"> Sebastián A. Ríos </a> and I learned new techniques for extracting data, like creating Web Intelligence applications, and for analyzing data, such as Text Mining. It was also my first approach into machine learning topics. </p>

<p align="justify">In Autumn 2017, I went to work to the <a href="http://wic.cl/"> Web Intelligence Centre </a>. There, I were deeper into the research of machine learning techniques. I was able to work with health data.</p>

<p align="justify">This is a list of the articles/projects were I worked.</p>

	
<ul>
	<li>Papers
		<ul>
		Paper 1
		</ul>
	</li>
</ul>
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
