---
layout: page
title: Research
---
<p>In Spring 2014, I have the opportunity of working as a research teacher assistant with professors <a href="https://scholar.google.cl/citations?user=rprb9KwAAAAJ&hl=es&oi=ao"> José María Merigó </a> and <a href="https://scholar.google.cl/citations?user=Ug4b1XQAAAAJ&hl=es&oi=ao">Gustavo Zurita</a>. This was my first approach into investigation, since I learn the steps for creating an investigation and writing a research article.

<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
