---
layout: page
title: Research
---
<p align="justify">In Spring 2014, while I was studying, I have the opportunity of working as a research teacher assistant with professors <a href="https://scholar.google.cl/citations?user=rprb9KwAAAAJ&hl=es&oi=ao" target="_blank"> José María Merigó </a> and <a href="https://scholar.google.cl/citations?user=Ug4b1XQAAAAJ&hl=es&oi=ao" target="_blank">Gustavo Zurita</a> in Bibliometric research area. This was my first approach into investigation, since I learned the steps for creating an investigation and writing a research article. I also learned that working with data and interpreting it was the research direction that I wanted to follow.</p>

<p align="justify">In Autumn 2016, I wanted to go deeper in my research interests, so I went to work to <a href="http://www.ceine.cl/en/" target="_blank">Centre for Business Intelligence </a>(CEINE). There, I work with professor <a href="https://scholar.google.cl/citations?user=rprb9KwAAAAJ&hl=es&oi=ao" target="_blank"> Sebastián A. Ríos </a> and I learned new techniques for extracting data, like creating Web Intelligence applications, and for analyzing data, such as Text Mining. It was also my first approach into machine learning topics. </p>

<p align="justify">In Autumn 2017, I went to work to the <a href="http://wic.cl/" target="_blank"> Web Intelligence Centre </a>. There, I were deeper into the research of machine learning techniques. I was able to work with health data.</p>

<p align="justify">This is a list of the articles/projects were I worked.</p>

	
<ul>
	<li><b>Published Articles</b>
		<ul>
			<p align="justify">
			<b>Computer Science Research in Artificial Intelligence</b><sup><a href="http://www.iaeng.org/publication/WCE2016/WCE2016_pp216-220.pdf" target="_blank">1</a></sup>. J.M. Merigó, G. Zurita, V. Lobos-Ossandón. WCE 2016, London, UK.
			</p>
			<p align="justify">
			<im>This paper presents a bibliometric overview of the research carried out between 1990 and 2014 in computer science with a focus on artificial intelligence. The work analyses all the journals available in Web of Science during this period and presents their publication and citation results. The study also considers the most cited articles in this area during the last twenty-five years. IEEE Journals obtain the most remarkable results publishing more than half of the most cited papers.  </im>
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>A Bibliometric Analysis of Journals in Educational Research</b>. G. Zurita, J.M. Merigó, V. Lobos-Ossandón. WCE 2016, London, UK.
			</p>
		</ul>
	</li>

	<li><b>Work In Progress</b>
		<ul>
			<p align="justify">
			<b>Leading Countries in Computer Science: A Bibliometric Overview</b>. G.Zurita, J.M. Merigó, V. Lobos-Ossandón, C. Mulet-Forteza. 
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>Academic Research in Engineering: A Journal Analysis</b>. G.Zurita, J.M. Merigó, V. Lobos-Ossandón, C. Mulet-Forteza.
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>Most Cited Papers in Engineering: A Citation Analysis</b>. G.Zurita, J.M. Merigó, V. Lobos-Ossandón, C. Mulet-Forteza.
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>Most Productive Universities in Academic Research in Engineering</b>. G.Zurita, J.M. Merigó, V. Lobos-Ossandón, C. Mulet-Forteza.
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>Leading Countries in Engineering Research: A Bibliometric Overview</b>. G.Zurita, J.M. Merigó, V. Lobos-Ossandón, C. Mulet-Forteza.
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>A Real-Time Risk of Death Predictive Model in an Elderly Latin American Population</b>. B. Harnecker, V. Lobos-Ossandón, E. Tobar, J. D. Velásquez.
			</p>
		</ul>

		<ul>
			<p align="justify">
			<b>Predicting Cardiovascular Risk: A Combination of Nocturnal Oximetry and Framingham Index Variables</b>. M. Hernández, V. Lobos-Ossandón, I. Díaz, R. Ruiz, J. Carrillo, J. D. Velásquez.
			</p>
		</ul>
	</li>
</ul>
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
