---
layout: page
title: Teaching
---


<p align="justify">Teaching my favorite asignatures was my first step into an academic career: since I was so deep into trying to make new ways to teach a subject, I started to inquire more deep into topics related to those subjects.</p>
<p align="justify">During my undergraduated studies, I standed out in some courses as the best students in the class. For that reason, teachers offered me the opportunity of being part of the teaching staff. My duties included creating tests and homeworks, assisting to students, reviewing tests and teaching </p>
<p align="justify"> The assignatures in which I teach are all related to the Information Technology area: 
</p>
<p align="justify">
    <ul> 
        <li><b><p align="justify">Algorithms and Programming</b>: the course aims for students to be able to create an algorithm and implement it to solve a practical problem, by using Visual Basic.</p></li>
        <li><b><p align="justify">Databases</b>: this course seeks to ensure that the student identifies, collects and integrates data associated with business processes, so that he can manage large volumes of data with SQL language, and refine them to support decision making in different areas of the organization. </p></li>
        <li><b><p align="justify">Technology and Information Systems</b>: the course aims that the student propose solutions to simple business problems, using systems and technologies information in order to relate business problems and decisions based on technologies. </p></li>
        <li><b><p align="justify">Web Intelligence</b>: the purpose of the course is for the student to be able to develop Web Intelligence applications that allow extracting information and knowledge from the web data, and then be used in the development of new web technologies for the future, such as, for example, adaptive websites. </p></li>
    </ul>
</p>
<p align="justify"> Here is a detailed list of the courses in which I was part of the teaching staff:
</p>
<ul>
    <li><b>Spring 2013</b>
        <ul>
            <li>Algorithms and Programming <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20132&cod_catedra=ENSIA200&cod_seccion=01">(ENSIA200/01)</a></li>
        </ul>
    </li>
    <li><b>Autumn 2014</b>
        <ul>
            <li>Algorithms and Programming <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20141&cod_catedra=ENSIA200&cod_seccion=03">(ENSIA200/03)</a></li>
            <li>Databases <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20141&cod_catedra=ENSIA350&cod_seccion=01">(ENSIA350/01)</a></li>
            <li>Technology and Information Systems <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20141&cod_catedra=ENGIN105&cod_seccion=02">(ENGIN105/02)</a></li>
        </ul>
    </li>
    <li><b>Spring 2014</b>
        <ul>
            <li>Databases <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20142&cod_catedra=ENSIA350&cod_seccion=01">(ENSIA350/01)</a> <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20142&cod_catedra=ENSIA350&cod_seccion=02">(ENSIA350/02)</a></li>
        </ul>
    </li>
    <li><b>Autumn 2015</b>
        <ul>
            <li>Algorithms and Programming <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20151&cod_catedra=ENGIN310&cod_seccion=02">(ENSIA200/02)</a></li>
            <li>Databases <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20151&cod_catedra=ENGIN305&cod_seccion=01">(ENSIA350/01)</a> <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20151&cod_catedra=ENGIN305&cod_seccion=02">(ENSIA350/02)</a></li>
        </ul>
    </li>
    <li><b>Spring 2015</b>
        <ul>
            <li>Databases <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20152&cod_catedra=ENGIN305&cod_seccion=01">(ENSIA350/01) </a> <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20152&cod_catedra=ENGIN305&cod_seccion=02">(ENSIA350/02)</a></li>
        </ul>
    </li>
    <li><b>Spring 2017</b>
        <ul>
            <li>Web Intelligence <a href="https://www.u-cursos.cl/ingenieria/2015/2/IN5526/1/datos_curso/">(IN5526-1)</a></li>
        </ul>
    </li>
</ul>

<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.teaching %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
