---
layout: page
title: Teaching
---


<p>This are the list of courses in which I have made classes:
</p>
<ul>
    <li>Spring 2013
        <ul>
            <li>Algorithms and Programming <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20132&cod_catedra=ENSIA200&cod_seccion=01">ENSIA200</a></li>
        </ul>
    </li>
    <li>Autumn 2014
        <ul>
            <li>Algorithms and Programming <a href="http://pregrado.fen.uchile.cl/Pregrado/DocenciaWeb/Curso.aspx?opcion=Avisos&periodo=20141&cod_catedra=ENSIA200&cod_seccion=03">ENSIA200</a></li>
        </ul>
    </li>
    <li>Final list item</li>
</ul>

<section class="list">
    {% for post in site.posts %}
        {% if post.teaching %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
