---
layout: page
title: Teaching
---


<p>This are the list of courses in which I have made classes:
</p>
<ul style="list-style-type:circle">
 <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<section class="list">
    {% for post in site.posts %}
        {% if post.teaching %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
